.block{
    background: gray;
    display: flex;
    color: white;
    padding: 20px;
    
   
}

.icon{ 
    margin-left: auto;
   


}

.icon, .icon2, .icon3, .consultation {
    margin: 20px ;
  
}

.consultation{
    border: 0.5px solid orange;   
    border-radius: 300px;
    background-color: orange;
    color:white;
    padding: 10px;
    margin: 10px;

}
 


h1{
    text-align: center;
    color: orange;
}

.text{
    text-align: center;
}

.chose{
    text-align: center;   
}
  
.chose span{
    border: 0.5px solid orange;   
    border-radius: 300px;
    background-color: orange;
    color:white;
    padding: 5px 5px;
    margin: 10px;
   
}
  

    